{{#block "title"}}

<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
      <script src="https://use.fontawesome.com/3903c9d7fd.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Signika|Syncopate&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Be+Vietnam&display=swap" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
  </head>
  {{/block}}
  {{#block "content"}}
  <body>
    <div class="container">
      #parse( $template )
    </div>
  </body>
  {{/block}}
{{#block "footer"}}
</html>
{{/block}}