{{#partial "content"}}
<body>
<nav class="navbar navbar-light">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/animal/new">Add Animal</a></li>
        <li class="active">All Animals</li>
        <li><a href="/sighting">Post Sighting</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-6">
        <h3 style="text-align:center">Endangered Animals</h3><br>
        <a href="/animal/new">Add Animal to Report a Sighting</a>
        {{#if endangeredAnimals}}

        {{#each endangeredAnimals}}
        <div class="thumbnail">
            <center>
                <h4>{{name}}</h4>
                <a href="/endangeredAnimal/{{id}}">
                    Click here for details
                </a>
            </center>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <div class="col-sm-6">
        <h3 style="text-align:center">Non-Endangered Animals</h3><br>
        {{#if animals}}
        <a href="/animal/new">Add Animal to Report a Sighting</a>

        {{#each animals}}
        <div class="thumbnail">
            <center>
                <h4>{{name}}</h4>

                <a href="/animal/{{id}}">
                    Click here for details
                </a>
            </center>
        </div>
            {{/each}}
        {{/if}}
    </div>
</div>
</body>
<style>
  body {
      background-image: url(https://previews.123rf.com/images/hayesnch/hayesnch1512/hayesnch151200300/49866675-vector-leaf-veins-closeup-pattern-background-simple-realistic-portrait.jpg);
  }

  h3 {
      color: wheat;
      font-size: 50px;
      text-shadow: 4px 4px 5px green;
      text-align: center;
  }
</style>
{{/partial}}
{{> layout.hbs}}