<nav class="navbar navbar-light">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/animal/new">Add Animal</a></li>
        <li><a href="/animals/">All Animals</a></li>
        <li><a href="/sighting">Post Sighting</a></li>
    </ol>
</nav>
<div>
    <center>
        <h1>The $animal's sighting was successfully recorded.</h1>
    </center>
</div>