{{#partial "content"}}
 <body>
    <nav class="navbar navbar-light">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Add Animal</li>
            <li><a href="/allAnimals">All Animals</a></li>
            <li><a href="/sighting">Post Sighting</a></li>
        </ol>
    </nav>
    <div class="form">
        <center>
            <h1>Add Animal to Database</h1><br><hr style="border: 2px solid orange; width: 50%;" >
            <form class="jumbotron" action="/animal/new" method="post">
                <label>Animal</label><br>
                <input style="border-radius" type="text" name="name"><br>
                <label>Endangered?</label>
                <input type="checkbox" name="endangered"><br>
                <button type="submit" class="btn">Add Animal</button>
            </form>
        </center>
    </div>
 </body>
    <style>
        body {
           background-image: url(https://images.pexels.com/photos/39629/tiger-tiger-baby-tigerfamile-young-39629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        }
        .form {
           background-color: wheat;
        }
        form {
           width: 50%;
           opacity: 0.8;
           border-top-left-radius: 37px;
           border-top-right-radius: 37px;
        }
        h1 {
            color: white;
            text-shadow: 2px 2px 4px #000000;
            font-size: 90px;
            font-family: 'Amatic SC', cursive;
        }
    </style>
{{/partial}}
{{>layout.hbs}}