{{#partial "content"}}
 <body>
    <nav class="navbar navbar-light">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Add Animal</li>
            <li><a href="/allAnimals">All Animals</a></li>
            <li><a href="/sighting">Post Sighting</a></li>
        </ol>
    </nav>
    <div class="form">
        <center>
            <h1>Add Animal to Database</h1>
            <form action="/animal/new" method="post">
                <label>Animal Species</label>
                <input type="text" name="name">
                <label>Endangered?</label>
                <input type="checkbox" name="endangered">
                <button type="submit" class="btn">Add Animal</button>
            </form>
        </center>
    </div>
 </body>
    <style>
        body {
           background-image: url(https://images.pexels.com/photos/39629/tiger-tiger-baby-tigerfamile-young-39629.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        }
        form {
           
        }
    </style>
{{/partial}}
{{>layout.hbs}}