{{#partial "content" }}

    <div>
        <h1>Welcome to Wildlife Tracker</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3><a href="/animal/new">Add Animal</a></h3>
        </div>
        <div class="col-sm-4">
            <h3><a href="/allAnimals/">View Animals</a></h3>
        </div>
        <div class="col-sm-4">
            <h3><a href="/sighting">Post Animal Sighting</a></h3>
        </div>
    </div>
    <hr>
    <style>
       h3, h1 {
         text-align:center;
       }
    </style>
{{/partial}}

{{> layout.hbs}}