{{#block "title"}}

<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  {{/block}}
  {{#block "content"}}
  <body>
    <div class="container">
      #parse( $template )
    </div>
  </body>
  {{/block}}
{{#block "footer"}}
</html>
{{/block}}