{{#partial "content"}}
    <body>
    <nav class="navbar navbar-light">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/animal/new">Add Animal</a></li>
            <li><a href="/allAnimals">All Animals</a></li>
            <li class="active">Post Sighting</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-6">
            <h2>Endangered Animal Sighting</h2>
            <form action="/endangered_sighting" method="post">
                {{#if endangeredAnimals}}
                <label>Select Endangered Animal</label>
                <select name="endangeredAnimalSelected">
                 {{#each endangeredAnimals}}
                    <option value={{id}}>{{name}}</option>

                </select>
                    {{/each}}
                    {{/if}}
                </br>
                <label>Health</label>
                &emsp;<select name="health">
                <option>Sick</option>
                <option>Good</option>
                <option>Healthy</option>
            </select>
                <br>
                <label>Age</label>
                &emsp;<select name="age">
                <option>Infant</option>
                <option>Young</option>
                <option>Adult</option>
            </select>
                </br>
                <label>Location</label>
                &emsp;<input type="text" name="latLong">
                </br>
                <label>Your Name</label>
                &emsp;<input type="text" name="rangerName">
                <br>
                <button type="submit" class="btn">Submit Report</button>

            </form>
        </div>
        <div class="col-lg-6">
            <h2>Non-Endangered Animal Sighting</h2>
            <form action="/animals/sightings/new" method="post">
                {{#if animals}}
                    <label>Select Endangered Animal</label>
                <select name="animalSelected">
                    {{#each animals}}
                        <option value={{id}}>{{name}}</option>
                    {{/each}}
                    </select>

                {{/if}}

                </br>
                <label>Location</label>
                &emsp;<input type="text" name="location">
                </br>
                <label>Your Name</label>
                &emsp;<input type="text" name="rangerName">
                </br>
                <button type="submit" class="btn">Submit Report</button>

            </form>
        </div>
    </div>
    </body>
    <style>
       body {
           background-image: url(https://scontent-amt2-1.cdninstagram.com/v/t51.2885-15/e35/65249732_698686200565838_3212576172444365396_n.jpg?_nc_ht=scontent-amt2-1.cdninstagram.com&se=7&oh=ce4c6f47abb0959d968a5205a62c7f92&oe=5DF7B988&ig_cache_key=MjA4MTQzMTg4MTE2NTIyODU5Ng%3D%3D.2);
           background-size: cover;
           background-repeat: no-repeat;
       }


    </style>
{{/partial}}
{{> layout.hbs}}